<section class="subscribe-section">
    <div class="subscribe-section__background-wrapper">
        <div class="container">
            <div class="p-grid ">
                <div class="p-col-12 p-lg-3">
                    <img src="assets/subscribe-img.svg" alt="subscribe-img" class="subscribe-section__img"/>
                </div>
                <div class="p-col-12 p-lg-9">
                    <div class="p-d-flex p-flex-column p-ai-start p-jc-between p-mt-1 p-pr-5 p-ml-5 p-ml-lg-5 subscribe-section__wrapper">
                        <h3 class="subscribe-section__title">
                            Alle Verfugbaren Auftrage anshen
                        </h3>
                        <p class="subscribe-section__text">
                            Wollen Sie mehr über unsere aktuellsten Anzeigen erfahren?
                        </p>
                        <div class="p-inputgroup subscribe-section-p-inputgroup p-jc-start p-jc-xl-start">
                            <input type="text" pInputText placeholder="Keyword" class="subscribe-section-p-input">  
                            <button pButton type="button" label="Submit" class="p-inputgroup-addon p-button p-component subscribe-section-p-span-btn"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>