@charset "utf-8";
/* CSS Document */



/*box script*/


	*{ padding:0px; margin:0px; }



			a{ color:#C8DCE5; }
p {
	text-align: center;
	font-family: "Pontano Sans";
}

			h3{
	font-family: "Pontano Sans";
	color: rgb(102,153,153);
	font-weight: normal;
	margin-top: 15px;
	margin-bottom: 40;
	font-size: 14pt;
	text-align: center;
	padding-bottom: 44px;
}

#main-content h1 {
	font-family: "Pontano Sans";
	color: rgb(255,255,255);
	text-align: center;
	width: 800px;
	font-size: 30px;
	font-weight: 500;
	margin-right: auto;
	margin-left: auto;
	clear: both;
	padding-top: 30px;
	padding-bottom: 50px;
}

			
			.boxgrid{
	width: 250px;
	height: 300px;
	float: left;
	overflow: hidden;
	position: relative;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 25px;
	border: medium solid rgba(0,0,0,1);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
			}
			
				.boxgrid-no-borders{
	width: 260px;
	height: 360px;
	float: left;
	overflow: hidden;
	position: relative;

	border-radius: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 25px;
			}
				.boxgrid img{ 
					position: absolute; 
					top: 0; 
					left: 0; 
					border: 0; 
				}
				.boxgrid p{ 
				font-family: "Pontano Sans";
					padding: 0 10px; 
					color:#afafaf; 
					font-weight:bold; 
					font:10pt;
				}
				
			.boxcaption{
	float: left;
	position: absolute;
	height: 360px;
	width: 100%;
	opacity: .8;
























				/* For IE 5-7 */
				filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
	/* For IE 8 */
	-MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	margin-top: 250px;
	background-color: #000;
 			}
 				.captionfull .boxcaption {
 					top: 260;
 					left: 0;
 				}
 				.caption .boxcaption {
 					top: 220;
 					left: 0;
 				}



/*end of  box script*/




* {
	
	padding: 0;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
	}

body {
	background-repeat: repeat-x;
	background-color: rgba(63,63,63,1);
	background-attachment: scroll;
	background-position: center -140px;
	background-image: url(../images/gradient_background.jpg);
}

#header {
	height: 80px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 10px;
	clear: both;
	width: 1150px;
	
}
#header #flag {
	height: 45px;
	width: 640px;
	margin-right:34px;
	background-image: url(../images/flag.png);
	background-repeat: no-repeat;
	background-position: right center;
	float:right;
}
#header #flag #social-media-header {
	list-style-type: none;
	height: 20px;
	width: 500px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 10px;
	
}

#header #flag #social-media-header li a img{
	border-width:0;}
#header #flag #social-media-header li a {
	font-family: "Pontano Sans";
	;
	float: left;
	margin-left: 55px;
	font-weight: normal;
}
#header #flag #social-media-header li a h5 {
	font-family: "Pontano Sans";
	font-size: 16px;
	color: rgb(204,204,204);
	margin-right: -25px;
	font-weight: bold;
}



#header #sub-menu-wrapper {
	height: 50px;
	width: 700px;
	float: right;
}
#header #sub-menu-wrapper #sub-header-menu {
	list-style-type: none;
}
#header #sub-menu-wrapper #sub-header-menu li {


}
#header #sub-menu-wrapper #sub-header-menu li a {
	font-family: "Pontano Sans";
	float: left;
	font-size: 18px;
	color: rgb(204,204,204);
	margin-top: 3px;
	margin-left: 35px;
}

#header #sub-menu-wrapper #sub-header-menu li a:hover {
	color: rgb(255,255,255);
		
}


#header #sub-menu-wrapper #sub-header-menu li:hover  #accessoires_ul {
	visibility: visible;
}
#header #sub-menu-wrapper #sub-header-menu li #accessoires_ul{
	list-style-type: none;
	position: absolute;
	margin-top: 20px;
	margin-left: 290px;
	visibility: hidden;
	
}
#header #sub-menu-wrapper #sub-header-menu li #accessoires_ul li a {
	padding-left: 5px;
	padding-right: 5px;
	margin-top: 25px;
	position: relative;
	margin-left: -15px;
	
}
/*#header #sub-menu-wrapper #sub-header-menu li a:hover ul li a {
	color: rgb(255,255,255);
	visibility:visible;
}*/
#main-content {
	width: 1150px;
	margin-right: auto;
	margin-left: auto;
	clear: both;
	margin-bottom: 0px;
	padding: 0px;
}
 .iphone5 {
	width: 850px;
	margin-right: auto;
	margin-left: auto;
	background-color: rgba(0,204,255,1);
}
.iphone4 {
	width: 1150px;
	margin-right: auto;
	margin-left: auto;
}
.ipod-touch5 {
	width: 575px;
	text-align: center;
	float: left;
}
#main-content .ipad-mini {
	width: 575px;
	text-align: center;
	float: right;
}







#footer {
	clear: both;
	width: 1150px;
	margin-right: auto;
	margin-left: auto;
	border-top-width: thin;
	border-top-style: solid;
	border-top-color: rgb(153,153,153);
	margin-bottom: 0px;
}
#footer #copy-right {
	height: 20px;
	width: 900px;
	clear: both;
	text-align: center;
}
#footer #copy-right h6 {
	font-size: 14px;
	font-weight: normal;
	color: rgba(153,153,153,1);
	width: 1150px;
	margin-right: auto;
	margin-left: auto;
}



#footer .menu-footer {
	width: 750px;
	margin-left: auto;
	height: 30px;
	margin-right: auto;
	margin-top: 15px;
	margin-bottom: 15px;
}
#footer .menu-footer h5 {
	float: left;
	margin-right: 25px;
	margin-left: 25px;
	font-weight: normal;
	
	font-size: 18px;
}


#footer .menu-footer h5 a {
	color: rgba(153,153,153,1)
}
	
#footer .menu-footer h5 a:hover {
	color:rgba(255,255,255,1);}

#footer .menu-footer a h4 {
	font-family: "Pontano Sans";
	text-align: left;
	font-size: 24px;
	font-weight: normal;
	color: rgb(204,204,204);
}
#footer .menu-footer a h6 {
	font-family: "Pontano Sans";
	font-size: 16px;
	font-weight: normal;
	text-align: left;
	color: rgb(153,153,153);
}
#menu-wrapper-script #menu-wrapper .menu li a {
	font-size: 18px;
	font-weight: bold;
}

#menu-wrapper-script #menu-wrapper .menu li a:hover {
	color:rgba(255,255,255,1);
}
#main-content h2 {
	font-family: "Pontano Sans";
	color: rgba(204,204,204,1);
	clear: both;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	font-size: 24px;
	font-weight: normal;
	padding-top: 33px;
	padding-right: 0px;
	padding-bottom: 33px;
	padding-left: 0px;
}

#main-content .h1-product-name {
	font-family: "Pontano Sans";
	text-align: center;
	font-size: 30px;
	font-weight: 700;
	color: rgba(255,255,255,1);
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	width: 100%;
	border-top-width: thin;
	border-bottom-width: thin;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: rgba(206,210,215,1);
	border-bottom-color: rgba(206,210,215,1);
	padding-top: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
	padding-left: 3px;
}
.h1-samsung {
	font-size: 30px;
	clear: both;
	position: relative;
	border-top-width: thin;
	border-bottom-width: thin;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: rgba(204,204,204,1);
	border-bottom-color: rgba(204,204,204,1);
	text-align: center;
	width: 100%;
	color: rgba(255,255,255,1);
}

#main-content .samsung-wrapper {
	clear: both;
	width: 100%;
	padding-top: 100px;
	padding-bottom: 77px;
}
#main-content .boxgrid:hover .hoverimg {
	opacity: .8;
}

#header #sub-menu-wrapper #sub-header-menu li:hover #shop_ul {
	visibility: visible;
}





#header #sub-menu-wrapper #sub-header-menu li #shop_ul {
	list-style-type: none;
	position: absolute;
	height: 100px;
	visibility: hidden;
	padding-top: 10px;
	width: 900px;
	margin-top: 25px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: -100px;
}
#header #sub-menu-wrapper #sub-header-menu li #shop_ul li a {
	height: 150px;
	width: 100px;
	clear: both;
	text-align: center;
	background-color: rgba(255,255,255,1);
	color: rgba(51,51,51,1);
	margin: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
#header #sub-menu-wrapper #sub-header-menu li #shop_ul li a:hover{
	opacity: .8;
	


}
#header #sub-menu-wrapper #sub-header-menu li #shop_ul li {
	position: relative;
	float: left;
	background-color: rgba(102,102,102,1);
	}
#header #sub-menu-wrapper #sub-header-menu li #shop_ul li:hover #iphone5ul{
	visibility: visible;
}	
#header #sub-menu-wrapper #sub-header-menu li #shop_ul li #iphone5ul {
	list-style-type: none;
	position: absolute;
	height: 150px;
	width: 450px;
	margin-top: 150px;
	margin-left: -100px;
	visibility: hidden;
}

#header #sub-menu-wrapper #sub-header-menu li #shop_ul li #iphone5ul li {
	position: relative;
	float: left;
	}
#header #sub-menu-wrapper #sub-header-menu li #shop_ul li #iphone5ul li a{
	height: 135px;
	width: 100px;
	clear: both;
	text-align: center;
	background-color: rgba(255,255,255,1);
	color: rgba(51,51,51,1);
	display: block;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: -1px;
}


#header #sub-menu-wrapper #sub-header-menu li #shop_ul li #iphone5ul li a img {
	border-width:0;
}
	
	
	#header #sub-menu-wrapper #sub-header-menu li #shop_ul li a img  {
		border-width:0;	
}
