@charset "utf-8";
/* CSS Document */

*{
	margin:0;
	padding:0;
 font-family: 'WebFont', Arial, sans-serif;
}


a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
a:active {
	text-decoration: none;
}
body {
	background-color: rgb(0,0,0);
	background-image: url(../images/bg1.png);
	background-position: left 230px;
	background-repeat: no-repeat;
}

@font-face{ 
	font-family: 'MyWebFont';
	src: url('../fonts/helvetica/WebFont.eot'), 
	src: url('../fonts/helvetica/WebFont.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/helvetica/WebFont.woff') format('woff'),
	     url('../fonts/helvetica/WebFont.ttf') format('truetype'),
	     url('../fonts/helvetica/WebFont.svg#webfont') format('svg');
}



#header {
	clear: both;
	width: 980px;
	margin-right: auto;
	margin-left: auto;
	overflow: hidden;
	position: relative;
	height: 570px;
}
#header #header-left {
	float: left;
	height: 110px;
	width: 610px;
	margin-top: 0px;
	padding-top: 0px;
}
#header #header-left #logo-div {
	padding-top: 15px;
	float: left;
	position: relative;
	z-index: 4;
}




#header #header-right {
	float: right;
	height: 110px;
	width: 350px;
}
#header #header-right #appstore {
	float: right;
	margin-top: 40px;
}

#header #header-right #playstore {
	margin-top: 40px;
	float: right;
	margin-right: 25px;
}


#header #header-menu {
	clear: both;
	height: 60px;
	width: 960px;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	background-color: rgb(0,0,0);
}
#header #header-menu #menu-ul {
	list-style-type: none;
	float: right;
}


#header #header-menu #menu-ul li {
	float: left;
	text-decoration: none;
	position: relative;
	z-index: 23;
}









#header #header-menu #menu-ul li a {
	color: rgb(255,255,255);
	margin-left: 15px;
	font-weight: normal;
	position: relative;
	z-index: 23;
	float: right;
	font-size: 10px;
	margin-right: 15px;
	text-align: center;
}
#submenu li a .p {
	text-align: center;
	margin-top: 0px;
	margin-bottom: 15px;
}
#header #header-banner {
	height: 50px;
	width: 940px;
	margin-top: 10px;
	margin-bottom: 10px;
	border: thin solid rgb(51,51,51);
	margin-left: 9px;
}
#header #header-slider-left {
	height: 360px;
	width: 610px;
	float: left;
	-moz-box-shadow: 0px 0px 2px 2px #FFF;
	-webkit-box-shadow: 0px 0px 2px 2px #FFF;
	box-shadow: 0px 0px 2px 2px #FFF;
	margin-top: 10px;
	margin-left: 3px;
	background-color: rgb(0,0,0);
	overflow: hidden;
	position: relative;
	z-index: 33;
}
#header-slider-left ul {
	background-color: rgb(0,255,51);
	float: left;
	height: 360px;
	width: 10000px;
	position: absolute;
	margin: 0px;
	padding: 0px;
	clear: both;
	list-style-type: none;
	z-index: 33;
}
#header-slider-left ul li {
	float: left;
	height: 360px;
	width: 305px;
	position: relative;
	background-color: rgb(0,255,153);
}
#header #header-slider-left ul li img {
	margin-top: 40px;
	margin-left: 59px;
	z-index: 33;
}
.button-left {
	background-color: rgb(255,255,255);
	color: rgb(255,255,255);
	clear: both;
	height: 50px;
	width: 50px;
	z-index: 99999;
	float: left;
	position: fixed;
}
 .button-right {
	background-color: rgb(255,255,255);
	color: rgb(255,255,255);
	clear: both;
	height: 50px;
	width: 50px;
	z-index: 99999;
	float: left;
	margin-left: 550px;
	position: fixed;
}



#header-slider-left ul li:nth-child(4) {
	float: left;
	height: 360px;
	width: 305px;
	position: relative;
	background-color: rgb(102,102,102);
}


#header #header-slider-left #products-enter-wrapper {
	float: left;
	height: 360px;
	width: 100000px;
	margin-top: 0px;
	margin-left: 0px;
	position: absolute;
}
 .products-enter {
	float: left;
	height: 285px;
	width: 245px;
	margin-top: 15px;
	margin-left: 40px;
	position: relative;
	text-align: center;
	z-index: 10;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.products-enter img {
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 0px 0px 5px #FFF;
	-webkit-box-shadow: 0px 0px 5px #FFF;
	box-shadow: 0px 0px 5px #FFF;
	background-color: rgb(255,255,255);
	padding: 25px;
}

.products-enter h1 {
	margin-top: 10px;
	margin-bottom: 5px;
	font-size: 10px;
	color: rgb(255,255,255);
	background-color: rgb(0,0,0);
}

.products-enter h2 {
	margin-top: 10px;
	margin-bottom: 5px;
	font-size: 18px;
	color: rgb(255,255,255);
}





#header #header-baner-right {
	height: 360px;
	width: 350px;
	float: right;
	margin-top: 10px;
	-moz-box-shadow: 0px 0px 2px 2px #FFF;
	-webkit-box-shadow: 0px 0px 2px 2px #FFF;
	box-shadow: 0px 0px 2px 2px #FFF;
	margin-right: 3px;
	background-color: rgb(0,0,0);
}
.home {
	margin-bottom: 1111px;


}

.aboutus {
	display: none;
	margin-bottom: 1111px;



}
.products {
	display: none;
	margin-bottom: 1111px;
}
.galery {
	display: none;
	margin-bottom: 1111px;
}
.Ingredients {
	display: none;
	margin-bottom: 1111px;
}
.video {
	display: none;
	margin-bottom: 1111px;
}
.contactus {
	display: none;
	margin-bottom: 1111px;
}







#header #header-baner-right h2 {
	color: rgb(204,204,204);
	text-align: left;
	font-size: 36px;
	padding-top: 60px;
	padding-bottom: 20px;
	padding-left: 60px;
}
#header #header-baner-right h3 {
		text-align: justify;
	color: rgb(255,255,255);
	padding-right: 30px;
	padding-bottom: 10px;
	padding-left: 30px;
	font-size: 16px;
}
#left-arrow {
	background-color: rgb(255,255,255);
	height: 44px;
	width: 46px;
	position: absolute;
	margin-top: 160px;
	z-index: 888;
	padding-top: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
	padding-left: 0px;
	display: none;
}
 #right-arrow {
	position: absolute;
	margin-top: 160px;
	margin-left: 561px;
	height: 44px;
	width: 46px;
	background-color: rgb(255,255,255);
	z-index: 888;
	padding-top: 3px;
	padding-right: 0px;
	padding-bottom: 3px;
	padding-left: 3px;
	display: none;
}



.readmore {
	margin-top: 10px;
}

.readmoreh1 a {
	color: rgb(204,204,204);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding-right: 15px;
	padding-left: 15px;
	font-size: 14px;
	padding-top: 3px;
	padding-bottom: 3px;
	background-color: rgb(0,0,0);
}

.readmoreh2 a {
	background-color: rgb(0,0,0);
	color: rgb(204,204,204);
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	padding-right: 15px;
	padding-left: 15px;
	font-size: 14px;
	margin-top: 0px;
}


 .readmore a {
	background-color: rgb(255,255,255);
	color: rgb(0,0,0);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding-right: 5px;
	padding-left: 5px;
}
.image-shadow {
	
	-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
/*-moz-box-shadow: 0px 0px 2px 2px #FFF;
	-webkit-box-shadow: 0px 0px 2px 2px #FFF;
	box-shadow: 0px 0px 2px 2px #FFF;*/
}
.social-media-shadow {
	margin-top: 53px;
	float: right;
	margin-left: 25px;
}


#middle-container {
	margin-right: auto;
	margin-left: auto;
	margin-top: -166px;
	height: 200px;
	width: 980px;
}
#footer {
	height: 60px;
	width: 980px;
	margin-top: 0px;
	margin-right: auto;
	margin-left: auto;
	clear: both;
}
#footer #footer-menu-ul {
	margin-right: auto;
	margin-left: auto;
	list-style-type: none;
	margin-top: 0px;
	height: 30px;
	width: 700px;
	clear: both;
}
#footer #footer-menu-ul li {
	float: left;
}
#footer #footer-menu-ul li a {
	float: left;
	margin-left: 25px;
	color: rgb(204,204,204);
	font-size: 14px;
}
#footer p {
	text-align: center;
	font-size: 14px;
	margin-top: 0px;
	color: rgb(204,204,204);
}
