//colors combinations
$color-white: #FFFFFF;
$color-white-1: #DFE0E6;
$color-white-2: #F5F6F9;
$color-white-3:#F4F5F9;
$color-black: #000000;
$color-orange-1: #FFA04A;
$color-orange-2: #FFB011;
$color-dark-blue-1:#19264B;
$color-dark-blue-2:#19264B;
$color-dark-blue3:#152247;
$color-dark-blue4: #1F2D56;
$color-sky-blue1: #EFF6FF;
$color-sky-blue2:#F7F9FF;
$color-dark-blue5:#22315B;
$color-gray-1: #C4C4C4;
$color-gray-2: #989BA7;
$color-gray-3: #747474;
$color-gray-4:#999999;
$color-gray-5:#E9E9E9;
$color-green-1: #0DD856;


// font weight
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
// font family 
$font-family-primary: 'Poppins', sans-serif;
$font-family-secondary: 'Ubuntu', sans-serif;

