<section class="section-kontakt">
    <div class="container">
        <div class="p-grid ">
            <div class="p-col-12 p-d-flex p-jc-center p-jc-lg-start">
                <h3 class="section-kontakt-title">Kontakt</h3>
            </div>
            <div class="p-col-12 p-d-flex p-jc-start p-flex-column p-flex-lg-row">
                <img class="section-kontakt__img" src="assets/kontakt-img.png" alt="kontakt-img" />
                <div class="section-kontakt-info p-d-flex p-flex-column p-ai-center p-ai-lg-start">
                    <h3 class="section-kontakt-info__name">
                        Jonathan Alam K.
                    </h3>
                    <p class="section-kontakt-info__text">
                        What is Lorem Ipsum Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been the industry's
                    </p>
                    <div class="section-kontakt-info__kontakt p-d-flex p-jc-start p-ai-center">
                        <a routerLink="/register" class="p-inputgroup-addon p-button p-component">
                            <img src="assets/comments-icon.svg" alt="send-image"/>
                        </a>
                        <div class="section-kontakt-info__kontakt-phone-section p-d-flex p-ai-center">
                            <span class="section-kontakt-info__kontakt-phone-section-phone-icon">
                                <img src="assets/phone-icon.svg" alt="send-image"/>
                            </span>
                            <p class="section-kontakt-info__kontakt-phone-section-text">+49 (0) 6210 1200 000</p>
                        </div>
                        <a routerLink="/register" class="p-inputgroup-addon p-button p-component">
                            <img src="assets/mail-icon.svg" alt="send-image"/>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>