<div class="cost-component">
  <app-header></app-header>
  <section class="cost-component__main-section container">
    <div class="p-grid ">
      <div class="p-col-12">
        <div class="p-d-flex p-flex-column p-jc-center p-ai-center">
          <img class="cost-component__main-section-img" src="assets/cost-component-img.png" alt="img" />
          <h2 class="cost-component__main-section-title">Anzeige veroffentlichen</h2>
          <p class="cost-component__main-section-text">In wenigen schritten gelingen siezum profil von umzugsprofis</p>
        </div>
        <router-outlet></router-outlet>
      </div>
    </div>
  </section>
  <app-footer></app-footer>
</div>

