<section class="search-section">
    <div class="container">
        <div class="p-grid">
            <div class="p-col-12">
                <div class="p-inputgroup p-jc-start p-jc-xl-start search-section-wrapper">
                    <div class="p-inputgroup footer__section-p-inputgroup p-jc-center p-jc-xl-start p-mb-0">
                        <span class="p-input-icon-left search-section-input-icon-left-wrapper">
                            <i class="pi pi-search"></i>
                            <input type="text" pInputText placeholder="Search here somthing">
                        </span>
                        <span class="p-inputgroup-addon p-button p-component p-button-secondary">
                            <i class="pi pi-bars"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>