<section class="section-faq">
    <div class="container section-faq__section-faq">
        <div class="p-grid ">
            <div class="p-col-12">
                <h2>Some of the FAQs</h2>
                <p class="section-title-text">
                    Looking for inspiration? We’ve put together a huge collection of fun and educational classroom ideas to
                </p>
            </div>
            <div class="p-col-12 p-lg-6">
                <app-carousel carouselPage='faq'></app-carousel>
                <!-- <div class="section-faq-img-wrapper p-d-flex">
                    <img src="assets/faq-img.png" alt="faq-img" />
                </div> -->
            </div>
            <div class="p-col-12 p-lg-6">
                <div class="section-faq-content-wrapper p-d-flex p-flex-column">
                    <p class="section-faq-content-wrapper__text">
                        All are the FAQs are below
                    </p>
                    <p-accordion>
                        <p-accordionTab header="What is new breed agent ?" [selected]="true">
                            <p class="accordionTab-description__text"> What we are doing now ?</p>
                            <p>Students can quiz themselves online, or you can download quizzes and learning activities.</p>    
                        </p-accordionTab>
                        <p-accordionTab header="What we are doing now ?">
                            <p class="accordionTab-description__text"> What we are doing now ?</p>
                            <p>Students can quiz themselves online, or you can download quizzes and learning activities.</p>    

                        </p-accordionTab>
                        <p-accordionTab header="Motivate with Technology">
                            <p class="accordionTab-description__text"> What we are doing now ?</p>
                            <p>Students can quiz themselves online, or you can download quizzes and learning activities.</p>    
                        </p-accordionTab>
                        <p-accordionTab header="Increased Learning Outcomes">
                            <p class="accordionTab-description__text"> What we are doing now ?</p>
                            <p>Students can quiz themselves online, or you can download quizzes and learning activities.</p>  
                        </p-accordionTab>
                    </p-accordion>
                    <div class="p-inputgroup p-inputgroup-custom p-jc-start p-mt-5">
                        <button pButton type="button" label="View more" routerLink="/register"
                            class="p-button-secondary p-inputgroup-custom-btn"></button>
                        <span class="p-inputgroup-addon p-button p-component p-inputgroup-custom-btn-arrow-icon">
                            <i class="pi pi-chevron-right "></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>