@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Mr+Dafoe&family=Roboto:ital,wght@0,100;0,300;0,500;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

.page-wrapper {
    width: 100vw;
    overflow-x: hidden;
}


h3 {
    font-family: 'Bangers', sans-serif;
    font-size: 48px;
}

header {
    display: flex;
    flex-direction: row;
    width: 100vw;
}

.header-text-section {
    width: 70vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-items: flex-start;
    font-size: initial;
    margin-left: 10vw;
    margin-top: -200px;
}

.header-text-section > h1, h2 {
    margin:0;
}


.header-name {
    font-family: 'Mr Dafoe', sans-serif;
    font-size: 48px;
}

.header-discription {
    margin-top: 10px;
    color: #ffa500;
}

.header-image-section {
    width: 40vw;
    display: flex;
    justify-content: flex-start;
}

.header-image {
    width: 30vw;
    margin-right: 10vw;
    margin-bottom: -30px;
}

.main-page-wrapper {
    background-color: #ffa500;
    position: relative;
    width: 110vw;
    padding-top: -63px;
    z-index: 3;
    padding-left: 10vw;
}

.about-me-div-wrapper-horizontal {
    position: absolute;
    width: 180vw;
    height: 300px;
    /* margin-left: -10vw; */
    /* margin-top: -64px; */
    background-color: #ffa500;
    transform: 20deg;
    transform: rotate(10deg);
    z-index: 1;
    top: -67px;
    left: -20vw;
}

.about-me {
    background-color: #FFA500;
    position: relative;
}

.about-me-text-wrapper {
    position: relative;
    z-index: 3;
    width: 80vw;
}

.portfolio-projects-section {
    z-index: 3;
    position: relative;
    margin-top: 150px;
    max-width: 80vw;
}

.project-history {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 3;
    margin-top: 50px;
}

.project-history-title {
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    text-align: center;
    width:40%;
    text-align: center;
    font-family: 'Bangers', sans-serif;
}

.project-history-descrition {
    
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    text-align: center;

    width:40%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.project-history-url {
   
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    text-align: center;
    width:40%;
    text-align: center;
    font-family: 'Roboto', sans-serif;

    color: black;
}

.project-history-image {
    max-width:50%;
    max-height: 350px;
}

.project-history:nth-of-type(odd){
    .project-history-image {
        align-self: flex-end;
    } 
    .project-history-title, .project-history-descrition, .project-history-url {
        align-self: flex-start;
    }

}

.project-history:nth-of-type(even) {
    .project-history-image {
        margin-right: auto !important;
    }
    .project-history-title, .project-history-descrition, .project-history-url {
        align-self: flex-end;
    }
}

.skill-set {
    display: flex;
}

.skill-set-skills {
    margin-left: 50px;
}

.work-history-article {
    margin-top: 100px;
}

.contact-me-section {
    display: flex;
}

.contact-section-article {
    margin-left: 50px;
}

.work-history-article-title {
    margin-bottom: 30vh;
}

@media only screen and (max-width: 768px) {


    .header-text-section {
        margin-top: -60px !important;
    }
    
    h3 {
        font-size: 40px !important;
    }

    .header-name {
        font-size: 20px !important;
    } 

    h2 {
        font-size: 14px !important;
    }

    .about-me {
        h3 {
            margin-top: 50px;
        }
    }

    .skill-set {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .skill-set-skills {
        margin-left: 0 !important;
    }

    .work-history-article {
        width: 75vw;
        margin-right: 10vw;
        margin-top: 0px;
    }

    .work-history-article-title {
        margin-bottom: 0;
    }

    .contact-me-section {
        display: flex;
        flex-direction: column; 
    }

    .contact-section-article {
        margin-left: 0 !important;
    } 

    .project-history {
        max-width: 70vw !important;
    }

    .project-history-image {
        width: 100% !important; 
        max-width: 100% !important;
        max-height: 100% !important;
    }

    .project-history-title {
        width: 100% !important;
    }

    .project-history:nth-of-type(odd){
        .project-history-image {
            align-self: center;
        } 
        .project-history-title, .project-history-descrition, .project-history-url {
            align-self: center;
        }
    
    }
    
    .project-history:nth-of-type(even) {
        .project-history-image {
            margin-right: auto !important;
        }
        .project-history-title, .project-history-descrition, .project-history-url {
            align-self: center;
        }
    }
    


}



