<footer class="footer">
    <div class="container">
        <div class="p-grid ">
            <div class="p-col-12">
                <div class="p-d-flex p-flex-wrap p-jc-center p-jc-xl-between">
                    <section class="footer__section p-d-flex p-flex-wrap p-flex-column">
                       <p class="footer__section-title">Products</p>
                       <p class="footer__section-text">Vision</p>
                       <p class="footer__section-text">Leadership</p>
                       <p class="footer__section-text">Career</p>
                    </section>
                    <section class="footer__section p-d-flex p-flex-wrap  p-flex-column">
                        <p class="footer__section-title">Dienstleistung</p>
                        <p class="footer__section-text">Umzugshelfer</p>
                        <p class="footer__section-text">Umzugshelfer</p>
                        <p class="footer__section-text">Montageservice</p>
                     </section>
                     <section class="footer__section p-d-flex p-flex-wrap  p-flex-column">
                        <p class="footer__section-title">Dokumentation</p>
                        <p class="footer__section-text">FAQ</p>
                        <p class="footer__section-text">Kontakt</p>
                        <p class="footer__section-text">Support</p>
                        <p class="footer__section-text">Umzugscheckliste</p>
                     </section>
                     <section class="footer__section p-d-flex p-flex-wrap  p-flex-column">
                        <p class="footer__section-title">Rechtliches</p>
                        <p class="footer__section-text">Impressum</p>
                        <p class="footer__section-text">Allgemeine geshftbedingun</p>
                        <p class="footer__section-text">Datenschütz</p>
                     </section>
                     <section class="footer__section p-d-flex p-flex-wrap p-flex-column p-jc-center p-jc-xl-start">
                        <p class="footer__section-title">Newsletter</p>
                            <div class="p-inputgroup footer__section-p-inputgroup p-jc-center p-jc-xl-start">
                                <input type="text" pInputText placeholder="Keyword">     
                                <span class="p-inputgroup-addon p-button p-component">
                                    <img src="assets/send-icon.svg" alt="send-image"/>
                                </span>
                            </div>
                            <div class="footer__section-social-media-wrapper p-d-flex p-ai-start p-jc-between">
                                <img src="assets/facebook-icon.svg" alt="img" />
                                <img src="assets/twitter-icon.svg" alt="img" />
                                <img src="assets/instagram-icon.svg" alt="img" />
                                <img src="assets/youtube-icon.svg" alt="img" />
                            </div>
                     </section>
                </div>
                <div class="p-d-flex p-flex-wrap p-jc-center p-jc-xl-start footer__section-tearms-and-condition">
                  <p>Pricacy Policy | Tearms & Condition</p>
                </div>
                <div class="p-d-flex p-flex-wrap p-jc-center  footer__section-copyright">
                    <p>COPYRIGHT ALL RIGHT RESERVED BY PACKMOOV 2020</p>
                  </div>
            </div>
        </div>
    </div>
</footer>