<section class="dashboard-data-section">
    <div class="container p-mb-5">
        <div class="p-grid">
            <div class="p-col-12 p-xl-6">
                <app-paginator-section scrollPanel='885px' [data]=dataTwo [headerData]=headerData></app-paginator-section>
                <app-paginator-section scrollPanel='885px'  [data]=dataTwo [headerData]=headerData></app-paginator-section>
            </div>
            <div class="p-col-12 p-xl-6">
                <app-paginator-section  [data]=data [headerData]=headerData></app-paginator-section>
            </div>
        </div>
        <div class="p-grid">
            <div class="p-col-12 p-xl-6">
                <app-paginator-section scrollPanel='380px' [data]=dataOne [headerData]=headerData></app-paginator-section>
            </div>
            <div class="p-col-12 p-xl-6">
                <app-paginator-section scrollPanel='380px'  [data]=dataTwo [headerData]=headerData></app-paginator-section>
            </div>
        </div>
    </div>
</section>
